.container-info {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 1.7rem;
    justify-content: space-between;
    z-index: 10;
        
        @media (min-width: 750px){
            display: flex;
            z-index: 0;
            } 

        .portfolio-button{
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            font-size: 0.9rem;
            margin-bottom: 3rem;
            justify-content: center;

                :last-child{
                    display: none;
                }

                @media (min-width:750px) {
                    flex-wrap: unset;
                }
            }

        .text-button-container{
            text-align: left;
            width: 100%;
            border-block-color: #DCDCDE;
            border-top: 1px solid;
            border-bottom: 1px solid;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 3rem;
                
                @media (min-width: 750px){
                    width: 50%;
                    margin-top: 0;
                }

                @media (min-width: 1200px){
                    width: 40%;
                }

            .profile-pic{
                height: 12rem;
                margin-top: 2rem;
                margin-bottom: 3rem;
                
                padding: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('../../assets/portfolio-pic.png');
            
            }
        }
    
        .text-button-portfolio{
            text-align: left;
            width: 100%;
            margin: 0 auto;
            border-block-color: #DCDCDE;
            border-top: 1px solid;
            border-bottom: 1px solid;
            margin-top: 3rem;
            height: 40rem;


            @media (min-width: 750px){
                margin-top: 0;
                width: 30%;
                height: 0;
                } 
        }
}

.container-info-portfolio{
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: 5rem;
    font-size: 1.7rem;

        @media (min-width: 750px){
            display: flex;
            gap: 2rem;
            } 

    .portfolio-button{
        font-size: 0.9rem;
        margin-bottom: 5rem;
        place-self: center;

            :first-child{
                display: none;
            }
            :nth-child(2){
                display: none;
            }

            @media (min-width:750px) {
                place-self: unset;
            }
    }
            
    .text-button-container{
        text-align: left;
        width: 100%;
        margin: 0 auto;
        border-block-color: #DCDCDE;
        border-top: 1px solid;
        border-bottom: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3rem;
        
            @media (min-width: 750px){
                margin-top: 0;
                width: 50%;
                height: 0;
                } 

            @media (min-width: 1200px){
                width: 30%;
                } 
    }
        
    .text-button-portfolio{
        text-align: left;
        width: 100%;
        margin: 0 auto;
        border-block-color: #DCDCDE;
        border-top: 1px solid;
        border-bottom: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       

            @media (min-width: 750px){
                margin-top: 0 auto;
                width: 30%;
                } 

    }
}