.project_background{
    width: 90%;
    border-bottom: 1px solid;
    justify-self: right;
    margin-right: auto;

        @media(min-width:350px){
            width: 100%;
            border-top: none;
        }

        @media(min-width:950px){
            border-top: 1px solid;
            width: 90%;
            margin: initial;
        }

    h1{
        font-weight: 400;
    }

    .project-background-title{
        color: #33323D;
        font-weight: bold;
        font-size: 1.9rem;

            @media(min-width:375px){
                font-size: 2.2rem;
            }
    }
    
    .project_text{
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 0;
        opacity: .8;
        font-size: 0.95rem;
        
            @media(min-width:450px){
                font-size: initial;
            }
    }
}